@import "../utilities/variables";

// MIXINS

// Mixin para el grid de servicios y trabajos
@mixin grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    text-align: center;
}
// Mixin para el h1+p de las secciones principales de: index, servicios, trabajos y nosotros
@mixin h1{
    h1{
        padding-top: 2rem;
        font-family: $font;
        font-size: $size-h1;
        font-weight: $font-weight;
        color: $color-principal;
        text-shadow: $text-shadow;  
    }
    p{
        padding: 1.5rem 1.5rem 0;
        font-family:$font;
        font-size: $parrafo;
        line-height : 2rem;
        color: $color-principal;
    }
}
// Mixin para los estilos de fondo de index, servicios, trabajos y nosotros
@mixin background{
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    background-attachment: fixed; 
}



