@import "../utilities/variables";
@import "../utilities/mixin";
    

/* MEDIA QUERIE TABLET */
@media only screen and (min-width:768px)and(max-width:1024px){
    
    /* HEADER GENERAL: logo + nav-bar */
    #logo {
        display: block;
    }

    #logo-desktop{
        display: none;
    }
    /*-----FIN HEADER-----*/

    /* INDEX */
    .principal{
        height: 33rem;
    }
    .grid-main{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas:"ppal ppal"
        "trabG trabG"
        "logo logo";     
        height: 80vh;
    }

    .infoIndex{
        h1{ 
            font-size: $t-size-h1;
            text-shadow: $text-shadow;    
        }
        p{
            font-size: $t-parrafo;
            line-height : 2rem;
            span{
                display:contents;
            }
        }
    } 
    /* invitación y botón de contacto */
    .invitacion{
        padding-bottom: 2rem;
        h2{
            font-size: $t-tepresu;
            text-shadow: $text-shadow;
            padding: 2rem;
        }
        p{  
            font-size: $t-parrafo;
            margin: 1rem;
            text-shadow: $text-shadow;   
        }
    }
    .btn-contacto{
        font-size: $t-tepresu;
        padding: 1rem 3rem 1rem 3rem;
        &:hover{
            color: #dcdcdc;
        }

    }
    /* galeria de trabajos - index*/
    .trabajosGaleria{
        grid-area: trabG;
        display: block;
        h3{
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 1rem;
            color: $color-tipos;
            font-family:$font;
            font-size: $t-size-h3;
            font-weight: bold;
            text-shadow: $text-shadow;     
        }
        ul{
            width: 100%;
            margin: auto;
            list-style: none;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                margin: 0.3rem;
                img{
                    width: 16rem;
                    height: 14rem;
                }
            }
        }
    }
    /* logos de clientes */
    .logoCli{
        h3{
            font-size: $t-size-h3;
            font-weight: bold;        
            text-shadow: $text-shadow;
            border-top: #dcdcdc  solid 0.063rem;
        }
        ul li img{
            width: 12rem;
            height: 4rem;
            margin-top: 0.5rem;
        }
    }
    /*-----FIN GRID-MAIN-INDEX----- */

    /* SERVICIOS */
    .grid-main-servicios{
        @include grid;
        grid-template-areas:"sppal sppal sppal"
                            "tipos tipos tipos"
                            "080 080 080"
                            "060 060 060"
                            "230 230 230";
    }
    /* s-principal + info servicios */
    .s-principal{  
        padding: 1rem 2rem 1.25rem 2rem;
        height: 26rem;
        h1{ 
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            font-size: $t-size-h1;
            font-weight: 550;
            line-height : 2.1rem;
        }
        p{
            font-size: $t-parrafo;
            padding: 1rem 1rem 1rem 1rem;
            line-height : 2.5rem;
        }
    }
    /* tiposRedes + 0.60 y 3 img + 0.80 y 3 img + 2.30 y 3 img */
    .tipoRedes{
        h2{
            padding: 1rem;
            font-size: $t-size-h2;
            font-weight: 550;
        }
    }
    /* estilos en comun */
    .rt080, .rt060, .rt230{
        h3{
            font-size: $t-size-h3;
        }
        p{
            font-size: $t-parrafo;
        }
        ul{
            li{
                img{
                    width: 17rem;
                    height: 12rem;
                }
            }
        }
    }
    /*-----FIN GRID-MAIN-SERVICIOS-----*/
    
    /* TRABAJOS */
    .grid-main-trabajos{
        grid-template-areas:"tppal tppal tppal"
                            "super super super"
                            "balcon balcon balcon"
                            "ventana ventana ventana"
                            "escalera escalera escalera";
    } 
    /* t-principal + info trabajos */
    .t-principal{  
        padding: 1rem 2rem 1.25rem 2rem;
        height: 26rem;
        h1{ 
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            font-size: $t-size-h1;
            font-weight: 550;
            line-height : 2.1rem;
        }
        p{
            font-size: $t-parrafo;
            padding: 1rem 1rem 1rem 1rem;
            line-height : 2.5rem;
        }
    }
    /* superficies + 3 img c/superficies */
    .superficies{
        h2{
            padding: 1rem;
            font-size: $t-size-h2;
        }
    }
    /* estilos en comun */
    .balcon, .ventana, .escalera{
        h3{
            font-size: $t-size-h3;
        }
        p{
            font-size: $t-parrafo;
        }
        ul{
            li{
                img{
                    width: 17rem;
                    height: 12rem;
                }
            }
        }
    }
    /*-----FIN GRID-MAIN-TRABAJOS-----*/

    /*  GRID-MAIN-NOSOTROS */
    .grid-main-nosotros{
        grid-template-columns: 1 1fr;
        grid-template-rows: 2 1fr;
    }
    .n-principal{
        padding-top: 3rem;
        padding-bottom: 1.25rem;
        height: 38rem;
        h1{
            font-size: $t-size-h1;
            line-height : 2.1rem;
        }
        p{
            font-size: $t-parrafo;
            padding: 1rem 1rem 1rem 1rem;
        }
        .team img{
            display: inline-block;
            text-align: center;
            height: 13rem;
            width: 18rem;
        }
    }
    /*-----FIN MAIN-GRID-NOSOTROS */

    /*     CONTACTO     */
    /* Formulario */ 
    .formu{
        h1{
            font-size: $t-size-h1;
        }
    }
    form{
        font-size: $t-parrafo;
    }
    /*----FIN CONTACTO-----*/

    /* FOOTER GENERAL */
    footer{
        h2,h4{
            font-size: 1rem;
            color: $color-footer;
        }
    }
    /*----FIN FOOTER-----*/
}

// media querie web

/* MEDIA QUERIE WEB */
@media only screen and (min-width:1024px){
    
    /* HEADER GENERAL: logo + nav-bar */
    #logo {
        display: none;
    }

    #logo-desktop{
        display: block;
        &:hover {
            transform: translate(4rem, 0);
            transition-duration: 2s;
        }
    }
    #e-navbar {
        background-color: $color-bg;
    }
    #nav-list{
        margin-top: 0;
    }
    #nav-item{
        a {
            display: inline-block;
            padding-right: 1rem;
            margin: 0.3rem;
            font-size: 1.3rem;
            &:hover {
                transform: scale(1.05);
                transition-duration: 1s;
            }
        }
        #wpp-boton{
            display: inline-block;
            margin-top: 0.1rem;
            height: 2.5rem;
            width: 2.5rem; 
        }
    } 
    /*-----FIN HEADER-----*/

    /* INDEX */
    .principal{
        height: 39rem;
    }
    .grid-main{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas:"ppal ppal"
        "trabG trabG"
        "logo logo";     
        height: 80vh;
    }

    .infoIndex{
        padding: 2rem 2rem 1.25rem 2rem;
        h1{
            font-size: $d-size-h1;
            text-shadow: $text-shadow;    
        }
        p{
            font-size: $d-parrafo;
            line-height : 2.5rem;
            span{
                display: content;
            }
        }

    } 
    /* invitación y botón de contacto */
    .invitacion{
        padding-bottom: 2rem;
        h2{
            font-size: $d-tepresu;
            text-shadow: $text-shadow;
            padding: 2rem;
        }
        p{  
            font-size: $d-parrafo;
            margin: 1rem;
            text-shadow: $text-shadow;    
        }
    }
    .btn-contacto{
        font-size: $d-tepresu;
        padding: 1.1rem 4rem 1.1rem 4rem;
        &:hover{
            color: #bfd2cd;
        }
    }
    /* galeria de trabajos - index*/
    .trabajosGaleria{
        grid-area: trabG;
        display: block;
        h3{
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 1rem;
            color: $color-tipos;
            font-family:$font;
            font-size: $d-size-h3;
            font-weight: bold;
            text-shadow: $text-shadow;     
        }
        ul{
            width: 100%;
            margin: auto;
            list-style: none;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                margin: 5px;
                img{
                    width: 25rem;
                    height: 18.75rem;
                    &:hover{
                        border: $hover-border;
                    }
                }
            }
        }
    }
    /* logos de clientes */
    .logoCli{
        h3{
            font-size: 1.4rem;
            font-weight: bold;        
            text-shadow: $text-shadow;
            border-top: #dcdcdc  solid 0.063rem;
        }
        ul li img{
            width: 13rem;
            height: 5rem;
            margin-top: 0.5rem;
        }
    }
    /*-----FIN GRID-MAIN-INDEX----- */

    /* SERVICIOS */
    .grid-main-servicios{
        @include grid;
        grid-template-areas:"sppal sppal sppal"
                            "tipos tipos tipos"
                            "080 080 080"
                            "060 060 060"
                            "230 230 230";
    }
    /* s-principal + info servicios */
    .s-principal{  
        padding: 3rem 2rem 1.25rem 2rem;
        height: 28rem;  
        h1{
            padding-bottom: 1.5rem;
            font-size: $d-size-h1;
            font-weight: 550;
            line-height : 2.1rem;
        }
        p{
            font-size: $d-parrafo;
            padding: 1rem 1rem 1rem 1rem;
            line-height : 2.5rem;
        }
    }
    /* tiposRedes + 0.60 y 3 img + 0.80 y 3 img + 2.30 y 3 img */
    .tipoRedes{
        h2{
            padding: 1.5rem;
            font-size: $d-size-h2;
            font-weight: 550;
        }
    }
    /* estilos en comun */
    .rt080, .rt060, .rt230{
        h3{
            font-size: $d-size-h3;
        }
        p{
            font-size: $d-parrafo;
        }
        ul{
            li{
                img{
                    width: 25rem;
                    height: 18.75rem;
                    &:hover{
                        border: $hover-border;
                    }
                }
            }
        }
    }
    /*-----FIN GRID-MAIN-SERVICIOS-----*/
    
    /* TRABAJOS */
    .grid-main-trabajos{
        grid-template-areas:"tppal tppal tppal"
                            "super super super"
                            "balcon balcon balcon"
                            "ventana ventana ventana"
                            "escalera escalera escalera";
    }
    /* t-principal + info trabajos */
    .t-principal{  
        padding: 3rem 2rem 1.25rem 2rem;
        padding-bottom: 1.25rem;
        height: 28rem;  
        h1{
            font-size: $d-size-h1;
            text-shadow: $text-shadow;    
        }
        p{
            font-size: $d-parrafo;
            line-height : 2.5rem;
            span{
                display: block;
            }
        }
    }
    /* superficies + 3 img c/superficies */
    .superficies{
        h2{
            font-size: $d-size-h2;
        }
    }
    /* estilos en comun */
    .balcon, .ventana, .escalera{
        h3{
            font-size: $d-size-h3;
        }
        p{
            font-size: $d-parrafo;
        }
        ul{
            li{
                img{
                    width: 25rem;
                    height: 18.75rem;
                    &:hover{
                        border: $hover-border;
                    }
                }
            }
        }
    }
    /*-----FIN GRID-MAIN-TRABAJOS-----*/

    /*  GRID-MAIN-NOSOTROS */
    .grid-main-nosotros{
        grid-template-columns: 1 1fr;
        grid-template-rows: 2 1fr;
    }
    .n-principal{
        padding-top: 3rem;
        padding-bottom: 1.25rem;
        height: 38rem;
        h1{
            font-size: $d-size-h1;
            line-height : 2.1rem;
        }
        p{
            font-size: $d-parrafo;
            padding: 1rem;
        }
        .team img{
            display: inline-block;
            text-align: center;
            height: 17rem;
            width: 22rem;
        }
    }
    /*-----FIN MAIN-GRID-NOSOTROS */

    /*     CONTACTO     */
    /* Formulario */ 
    .formu{
        h1{
            font-size: $d-size-h1;
        }
    }
    form{
        font-size:$d-parrafo;
    }
    /*----FIN CONTACTO-----*/

    /* FOOTER GENERAL */
    footer{
        h2,h4{
            font-size: 1.1rem;
            color: $color-footer;
        }
    }
    /*----FIN FOOTER-----*/
}

