@import "../utilities/variables";
@import "../utilities/extend";
@import "../utilities/mixin";



/*  GRID-MAIN-NOSOTROS */
.grid-main-nosotros{
    @include grid;
}
.n-principal{
    @extend %padding-principal;
    width: 100%;
    height: 35rem;
    background-image: url('../img/bg/redes-us-2.jpg');
    @include background;
    @include h1;
    p .span-color{
        color: $color-span;
        font-weight: bold;
    }
    .team img{
        display: none;
    }
}



    /* FIN DE NOSOTROS */