@import "../utilities/variables";
@import "../utilities/mixin";
@import "../utilities/extend";


/*    GRID-MAIN-TRABAJOS     */
.grid-main-trabajos{
    @include grid;
    grid-template-areas:
    "tppal"
    "super"
    "balcon"
    "ventana"
    "escalera";
}

/* s-principal + info servicios */
.t-principal{  
    grid-area: tppal;
    @extend %padding-principal;
    width: 100%;
    height: 34rem;
    background-image: url('../img/bg/redes-trabajos.jpg');
    @include background;
    @include h1;
}


/* superficies + balcon - 3 img + ventana - 3 img + escalera - 3 img */
.superficies{
    grid-area: super;
    font-family: $font;
    width: 100%;
    color: $color-principal;
    background-color: $color-bg;
    h2{
        font-size: $size-h2;
        font-weight: $font-weight;
        padding: 0.8rem 0.5rem 0.5rem 0.5rem;
        background-color: $color-bg;
        color:$color-tipos;
    }
}
.balcon{
    grid-area: balcon;
}
.ventana{
    grid-area: ventana;
}
.escalera{
    grid-area: escalera;
}

/* estilos en comun */
.balcon, .ventana, .escalera{
    h3{
        font-family: $font;
        font-size: $size-h3;
        font-weight: $font-weight;
        padding: 1rem;
        background-color: $color-verdecito;
        color: $color-principal;
    }
    p{
        font-family: $font;
        font-size: $parrafo;
        padding: 1rem;
        background-color: $color-bg;
        color:$color-tipos;
        line-height: 1.6rem;
    }
    ul{
        width: 100%;
        margin: auto;
        list-style: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: $color-bg;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li{
            padding: 0.5rem;
            img{
                width: 22rem;
                height: 16.75rem;
            }
        }
    }
}
// /*-----FIN GRID-MAIN-TRABAJOS-----*/